doctype html
html
  head
    link(rel='stylesheet', href='styles.css')
    link(href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700', rel='stylesheet')
  body
    .main
      include templates/navigation.pug
      .callout
        img(src='images/callout.png')
        h1 Building HTML with Pug is easy!
        p Maybe some pug tips in here, idk
      .sitemap
        each category in sitemap
          ul
            li
              h3!= category.header
            each link in category.links
              li!= link
      .footer
        ul
          li 1
          li 2
          li 3
