ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav li {
  padding: 0px 10px;
}

.sitemap {
  display: flex;
  justify-content: space-around;
}

.sitemap ul {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.footer ul {
  display: flex;
  justify-content: flex-end;
}
