doctype html
html
  body
    main
      .nav
        img(src="img/icon")
        ul
          li Pug
          li Documentation
          li CS52
      .callout
        h1 Building HTML with Pug is easy!
        p Maybe some pug tips in here, idk
      .sitemap
        each header in ['Category 1', 'Category 2', 'Category 3', 'Category 4']
          ul
            h3!= header
            each link in ['Link 1', 'Link 2', 'Link 3', 'Link 4', 'Link 5']
              li!= link
      .footer
        ul
          li 1
          li 2
          li 3
