.nav
  img(src="images/icon.svg", alt='icon')
  ul
    li
      a(href="https://pugjs.org") Pug
    li
      a(href="https://github.com/yeonjaepark/pug-workshop/") Documentation
    li
      a(href="https://cs52.me") CS52
